---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="block">{text}</div>

<style>
  .block {
    width: 62px;
    height: 62px;
    padding: 53px 67px;
    font-size: 28px;
    font-weight: 400;
    line-height: 29.53px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(0, 0%, 0%, 0.15);
    background-color: hsla(0, 0%, 100%, 0.15);
  }
</style>
