<div class="blocks">
  <div class="block a">Forest stay</div>
  <div class="block b">Sunset</div>
  <div class="block c">Tree house</div>
  <div class="block d">Forest travel</div>
  <div class="block e">Tracking</div>
</div>

<style>
  .blocks {
    margin: auto 0 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "f a"
      "b c"
      "d e";

    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: fly-in-right;
    animation-range: entry 10% contain 25%;
    animation-fill-mode: both;
    animation-duration: 1ms;
  }

  @keyframes fly-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .block {
    width: calc(8 * var(--unit));
    height: calc(8 * var(--unit));
    box-sizing: border-box;
    padding: calc(1.5 * var(--unit)) calc(2 * var(--unit));
    font-size: 24px;
    font-size: calc(0.85 * var(--unit));
    font-weight: 400;
    line-height: calc(1 * var(--unit));
    text-align: left;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(0, 0%, 0%, 0.15);
  }
  .a {
    grid-area: a;
    background-color: hsla(0, 0%, 100%, 0.15);
  }
  .b {
    grid-area: b;
    background-color: hsla(0, 0%, 100%, 0.15);
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .e {
    grid-area: e;
    background-color: hsla(0, 0%, 100%, 0.15);
  }
</style>
