<div>
  <nav class="menu-container">
    <ul class="menu">
      <li>
        <a href="#"
          ><img class="icon" src="/icons/profile.svg" alt="profile icon" /></a
        >
      </li>
      <li>
        <a href="#"
          ><img class="icon" src="/icons/search.svg" alt="profile icon" /></a
        >
      </li>
    </ul>
    <span class="heading">Travelor</span>
    <ul class="menu">
      <li>
        <a href="#"
          ><img class="icon" src="/icons/facebook.svg" alt="profile icon" /></a
        >
      </li>
      <li>
        <a href="#"
          ><img class="icon" src="/icons/instagram.svg" alt="profile icon" /></a
        >
      </li>
      <li>
        <a href="#"
          ><img class="icon" src="/icons/linkedin.svg" alt="profile icon" /></a
        >
      </li>
    </ul>
  </nav>
</div>

<style>
  .menu {
    list-style-type: none;
    margin: 0;
    padding: calc(1 * var(--unit)) calc(0.5 * var(--unit));
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(1 * var(--unit));
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(5 * var(--unit));
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
  }
  .icon {
    width: calc(1.3 * var(--unit));
    height: calc(1.3 * var(--unit));
  }
  .heading {
    color: hsla(0, 0%, 100%, 0.75);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: center;
    font-size: calc(1.5 * var(--unit));
    font-weight: 300;
  }
</style>
